#image
{
object-position: 100px -300px;

}
.im{
  height: 200px;


  width :300px;
  border-radius: 20px;
  position: relative;
  left: 20px

}
.navbar
{
  background-color: #E0DDAA;
  border-radius: 10px;
  height: 300px;

}
.text
{
  position: relative;
  top: 1000px;
  align-content: center;
color: white;
font-family: serif;
}
.bgdark
{
  background-color: black;
}
div.col
{
  position: relative;
  bottom: 30%;

}
.welcome
{


  font-style: bold;
  font-size: 100px;
position: absolute;
left: 500px;
}
.icon
{
  color: white;
  height:200px;
  width : 200px;
  border-radius: 10px;
  position: relative;
  top: 700px;
}
h2{
  color: white;
}
.h
{
  background-color: white;
  position: relative;
  top: 60%;
}
.text2
{
  position: relative;
  bottom:  1000px;
left: 400px;
}
.position-nav
{top: 1200px;}
